

/* por dentro de la caja y fera de los input */

.form {
    background-color: rgba(255, 255, 255, 0.500); /* Color de fondo con transparencia */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}


/* por dentro de los input y bordeado de los mismos*/  
.form input {
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: block;
    padding: 4px 10px;
    width: 100%;

 /* boton añadir evento*/   
}
.form button{
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color:black;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

.form button:hover{
    color: black;
    background-color: white;
    font-weight: bold;
    border: solid 2px black;
}