
:root {
  --color-font-:rgb(0, 0, 0);
  
  --color-background:rgba(255, 255, 255, 0);
  --color-btnindex:black;
  --color-btnindexhover: white;
  --color-btnindexhoverletra: black;
  
}
.tema0{
  --color-font-:black;
  --color-background:rgba(23, 242, 213, 0.226);
 
}

.tema1{
  --color-background:rgba(9, 244, 21, 0.183);
  --color-font-:black;
}
.tema2{
  --color-background:rgba(255, 166, 0, 0.281) ;

}
.tema3{
  --color-background:rgba(255, 0, 208, 0.139);
  --color-font-:rgb(0, 0, 0);
}

.tema4{
  --color-background:rgba(0, 0, 0, 0.432);
  --color-font-:white;
}
.tema5{
  --color-background:rgba(255, 0, 0, 0.354);
  --color-font-:black;
}

.tema6 {

  --color-background: url("/bumblebee.jpg");
  --color-font-: rgb(255, 255, 255);
  
}



html,
body {
  
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
} 

*{
  box-sizing: border-box;
}

body{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  
  background: var(--color-background);
  background-position: center 10%;
  background-size: contain;
  
  min-height: calc(98vh - 112px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  justify-content: flex-start;
  position: relative;
  
}

.container h1, h3{
  font-family: 'Charm', cursive;
  color: var(--color-font-);
  
}

.links {
  display: flex;
  background-color:var(--color-btnindex);
  border-radius: 30px ;
  padding: 12px;
  color: white;
  border: none;
  font-size: 20px;
  margin-bottom: 100px;
  text-decoration: none;
  
  
}

.links:hover {
  background-color: var(--color-btnindexhover);
  color:var(--color-btnindexhoverletra);
  font-weight: bold;
  border: solid 1px black;
  
}



.btn {
  background-color: #00fa47;
  border-radius: 30px;
  padding: 20px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 80px;
  text-decoration: none;
} 


.btn:hover {
  background-color: rgb(11, 174, 244);
  
}

h1 {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .event  {
    font-size: 15px;

  }

}

