/* estilos del boton eliminar en el evento creado*/

.event button {
  border: none;
  background-color: red;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  
}
/* estilos de la caja evento */
.event {
  border: solid 1px black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin-top: 20px;
  background-color: rgba(240, 240, 240, 0.500);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  flex-wrap: wrap;
}
/* estilos del proximo a vencer */
.expiring {
  color: red;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
/* estilos del dia que faltan para vencer */
.event .days {
  text-align: center;
}

/* mas estilos del dia que faltan para vencer */
.event .days .daysnumber {
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.event .eventname {
  padding: 10px;
  
}
.event .eventdate {
  padding: 0px;
  
}

.event .eventlugar {
  padding: 10px;
  
}

.event .eventhora {
  padding: 10px;
  
}
.event .actions {
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .expiring {
    width: 80px;
    text-align: center;

  }

 
}
@media screen and (max-width: 700px) {
  .event > div {
    width: 33%;
  }

 
}
@media screen and (max-width: 600px) {
  .event {
    font-size: 18px;
  }
  .event button {
    
    margin: 5px;
  }
  .event input {
    font-size: 18px; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 4px; 
    border-radius: 10px;
    margin-right: 0;
  }

}

@media screen and (max-width: 480px) {
  .event {
    font-size: 16px;
  }

  .event .buttonContainer {
    display: flex; 
    margin: -30px;
    margin-top: -20px;
  }

  .event button {
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-left: 10px; 
  }
}

@media screen and (max-width: 400px) {
  .event {
    font-size: 12px;
  }
 
 
}
@media screen and (max-width: 300px) {
  .event {
    font-size: 10px;
  }

  
}
