

  .event button {
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }
  
  .event {
    border: solid 1px black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 20px;
    background-color: aliceblue;
  }
  
  .event .days {
    text-align: center;
    width: 100px;
  }
  .event .days .daysnumber {
    font-size: 30px;
    font-weight: bold;
    display: block;
  }
  .event .eventname {
    padding: 10px;
    width: 200px;
  }
  .event .eventdate {
    padding: 10px;
    width: 100px;
  }

  .event .eventlugar {
    padding: 10px;
    width: 200px;
  }

  .event .eventhora {
    padding: 10px;
    width: 200px;
  }
  .event .actions {
    padding: 10px;
  }