.foot{
    background-color: rgba(44, 158, 154, 0.621);;
    display: flex;
    justify-content: space-evenly;
    
}

.btnLogout {
    background-color: rgba(9, 121, 240, 0.765);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 5px 10px ;
    color: white;
    font-weight: bold;
    
}

.btnLogout:hover{

    background-color: green;
}