.header {
    background-color: rgba(23, 242, 235, 0.703);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btnLogout {
    background-color: rgb(9, 240, 25);
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 10px ;
}

.header a {
    margin-right: 20px;
    color: rgba(0, 0, 255, 0.591);
    font-size: 20px;
    text-decoration: none;

}


.logo {
    display: flex;
    height: 50px;
}

.logo h2 {
    margin: 0;
    font-size: 3rem;
}

.logo h2:hover {
    font-size: 3.2rem; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.logo img {
    height: 90%;
    width: auto;
}

.alias{
    color: rgba(0, 0, 255, 0.591);
    font-size: 20px;
    font-weight: bold;
}





@media screen and (max-width: 500px) {
    .header {
        justify-content: center;
        padding-bottom: 10px;
    }

}

  
  