
.header {   
    --colorbackground: black;
    --colora: white;
    --coloralias: white;

    background-color: var(--colorbackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
}


:global(body.tema0) .header {
    --colorbackground: rgba(23, 242, 235, 0.703);
    --colora: rgba(0, 0, 255, 0.591);
    --coloralias: rgb(0, 0, 255);
}
:global(body.tema1) .header {
    --colora: rgba(0, 0, 0, 0.982);
    --colorbackground: rgba(23, 242, 27, 0.395);
    --coloralias: rgb(0, 0, 0);
}
:global(body.tema2) .header {
    --colora: black;
    --colorbackground: rgba(254, 102, 0, 0.664);
    --coloralias: black;
}
:global(body.tema3) .header {
    --colora: rgba(2, 0, 0, 0.934);
    --colorbackground: rgba(252, 0, 235, 0.701);
    --coloralias: rgba(0, 0, 0, 0.929);   
}
:global(body.tema4) .header {
    --colora: rgb(255, 254, 254);
    --colorbackground: rgb(101, 96, 96);
    --coloralias: rgb(255, 255, 255);
}
:global(body.tema5) .header {
    --colora: rgb(0, 0, 0);
    --colorbackground: rgba(245, 6, 6, 0.658);
    --coloralias: rgb(0, 0, 0);
}
/* .btnLogout {
    background-color: rgb(9, 240, 25);
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 10px ;
} */

.header a {
    margin-right: 20px;
    color: var(--colora);
    font-size: 20px;
    text-decoration: none;

}


.logo {
    display: flex;
    height: 50px;
}

.logo h2 {
    margin: 0;
    font-size: 3rem;
}

.logo h2:hover {
    font-size: 3.2rem; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.logo img {
    height: 55px;
    width: auto;
}

.header{
    color: var(--coloralias);
    font-size: 20px;
    font-weight: bold;
}
.header button{
    color: var(--coloralias);
    font-size: 20px;
    font-weight: bold;
}

.btnmanual {
   
    background-color:transparent;
    border-radius: 30px ;
    padding: 22px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    margin-bottom: 100px;
    text-decoration: none;
    margin: 0;
    margin-top: 5px;
    padding: 10;
    
  }
  .icon {
    margin-right: 15px;
  }

  @media screen and (max-width: 641px) {
    .header {
        justify-content: center;
        padding-bottom: 10px;
    }

}


@media screen and (max-width: 500px) {
    .header {
        justify-content: center;
        padding-bottom: 10px;
    }

}

  
  
